In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [30]:
filedf = pd.read_csv("Data/uswtdb_v2_1_20190715.csv", encoding = "ISO-8859-1")
usfile = pd.read_csv("Data/US.csv", encoding = "ISO-8859-1")
coaldata = pd.read_csv("Data/Coal_ConsumptionElectricity_GenElectricAnnual.csv", encoding = "ISO-8859-1")
netgendata = pd.read_csv("Data/Net_generation_for_all_sectors.csv", encoding = "ISO-8859-1")
df_alabama = pd.read_csv('Data/Alabama.csv')
df_alaska = pd.read_csv('Data/Alaska.csv')
df_arizona = pd.read_csv('Data/Arizona.csv')
df_arkansas = pd.read_csv('Data/Arkansas.csv')
df_california = pd.read_csv('Data/California.csv')
df_colorado = pd.read_csv('Data/Colorado.csv')
df_connecticut = pd.read_csv('Data/Connecticut.csv')
df_delaware = pd.read_csv('Data/Delaware.csv')
df_florida = pd.read_csv('Data/Florida.csv')
df_georgia = pd.read_csv('Data/Georgia.csv')
df_hawaii = pd.read_csv('Data/Hawaii.csv')
df_idaho = pd.read_csv('Data/Idaho.csv')
df_illinois = pd.read_csv('Data/Illinois.csv')
df_indiana = pd.read_csv('Data/Indiana.csv')
df_iowa = pd.read_csv('Data/Iowa.csv')
df_kansas = pd.read_csv('Data/Kansas.csv')
df_kentucky = pd.read_csv('Data/Kentucky.csv')
df_louisiana = pd.read_csv('Data/Louisiana.csv')
df_maine = pd.read_csv('Data/Maine.csv')
df_maryland = pd.read_csv('Data/Maryland.csv')
df_massachusetts = pd.read_csv('Data/Massachusetts.csv')
df_michigan = pd.read_csv('Data/Michigan.csv')
df_minnesota = pd.read_csv('Data/Minnesota.csv')
df_mississippi = pd.read_csv('Data/Mississippi.csv')
df_missouri = pd.read_csv('Data/Missouri.csv')
df_montana = pd.read_csv('Data/Montana.csv')
df_nebraska = pd.read_csv('Data/Nebraska.csv')
df_nevada = pd.read_csv('Data/Nevada.csv')
df_newhampshire = pd.read_csv('Data/NewHampshire.csv')
df_newjersey = pd.read_csv('Data/NewJersey.csv')
df_newmexico = pd.read_csv('Data/NewMexico.csv')
df_newyork = pd.read_csv('Data/NewYork.csv')
df_northcarolina = pd.read_csv('Data/NorthCarolina.csv')
df_northdakota = pd.read_csv('Data/NorthDakota.csv')
df_ohio = pd.read_csv('Data/Ohio.csv')
df_oklahoma = pd.read_csv('Data/Oklahoma.csv')
df_oregon = pd.read_csv('Data/Oregon.csv')
df_pennsylvania = pd.read_csv('Data/Pennsylvania.csv')
df_rhodeisland = pd.read_csv('Data/RhodeIsland.csv')
df_southcarolina = pd.read_csv('Data/SouthCarolina.csv')
df_southdakota = pd.read_csv('Data/SouthDakota.csv')
df_tennessee = pd.read_csv('Data/Tennessee.csv')
df_texas = pd.read_csv('Data/Texas.csv')
df_utah = pd.read_csv('Data/Utah.csv')
df_vermont = pd.read_csv('Data/Vermont.csv')
df_virginia = pd.read_csv('Data/Virginia.csv')
df_washington = pd.read_csv('Data/Washington.csv')
df_westvirginia = pd.read_csv('Data/WestVirginia.csv')
df_wisconsin = pd.read_csv('Data/Wisconsin.csv')
df_wyoming = pd.read_csv('Data/Wyoming.csv')
latlongstatedf = pd.read_csv('Data/statelatlong.csv')
pcapstatepopdf = pd.read_csv('Data/p_cap_state_pop_ctrl.csv')

In [31]:
pcapstatepopdf.to_csv('Output/p_cap_state_pop_ctrl.csv')

In [32]:
columns = ["case_id", "t_state", "p_name", "p_year", "p_tnum", "p_cap", "xlong", "ylat"]
data = filedf[columns]
data = data.dropna(how="any")

In [33]:
data.drop_duplicates(subset = "p_name", inplace = True)
data
filtered_df = data.loc[data["p_year"] > 2001.0]
# fltrdSorted_df = filtered_df.sort_values("p_year")

In [34]:
# #group by year and sum of p_cap through those years
groupyear = filtered_df.groupby(["p_year"]).mean()["p_cap"]
groupyeardf = pd.DataFrame(groupyear)
x= groupyeardf.reset_index()
#graph year(x) cap (y)
x.head()
x.rolling(2, on = "p_cap").sum()
x.to_csv("Output/windcap.csv", index = True, header = True)

In [35]:
# Adds a legend and sets its location to the lower right
filteredcoal = coaldata.loc[coaldata["Year"] > 2001.0]
xcoal = filteredcoal["Year"]
ycoal = filteredcoal["Tons Burned"]
filteredcoal.to_csv("Output/coal.csv", index = True, header = True)

In [36]:
netgendata.head()
sorteddata = netgendata[["description","2001", "2018"]]
sorteddataspec = sorteddata.iloc[[3,6,8,9,11,12]]
sorteddataspec.to_csv("Output/NetGenSpecific.csv", index = True, header = True)

In [37]:
main_df = df_alabama.append(df_alaska)
main_df = main_df.append(df_arizona)
main_df = main_df.append(df_arkansas)
main_df = main_df.append(df_california)
main_df = main_df.append(df_colorado)
main_df = main_df.append(df_connecticut)
main_df = main_df.append(df_delaware)
main_df = main_df.append(df_florida)
main_df = main_df.append(df_georgia)
main_df.shape[0]

180

In [38]:
main_df = main_df.append(df_hawaii)
main_df = main_df.append(df_idaho)
main_df = main_df.append(df_illinois)
main_df = main_df.append(df_indiana)
main_df = main_df.append(df_iowa)
main_df = main_df.append(df_kansas)
main_df = main_df.append(df_kentucky)
main_df = main_df.append(df_louisiana)
main_df = main_df.append(df_maine)
main_df = main_df.append(df_maryland)
main_df = main_df.append(df_massachusetts)
main_df = main_df.append(df_michigan)
main_df = main_df.append(df_minnesota)
main_df = main_df.append(df_mississippi)
main_df = main_df.append(df_missouri)
main_df = main_df.append(df_montana)
main_df = main_df.append(df_nebraska)
main_df.shape[0]

486

In [39]:
main_df2 = main_df

In [40]:
main_df2 = main_df2.append(df_nevada)
main_df2 = main_df2.append(df_newhampshire)
main_df2 = main_df2.append(df_newjersey)
main_df2 = main_df2.append(df_newmexico)
main_df2 = main_df2.append(df_newyork)
main_df2 = main_df2.append(df_northcarolina)
main_df2 = main_df2.append(df_northdakota)
main_df2 = main_df2.append(df_ohio)
main_df2 = main_df2.append(df_oklahoma)
main_df2 = main_df2.append(df_oregon)
main_df2 = main_df2.append(df_pennsylvania)
main_df2 = main_df2.append(df_rhodeisland)
main_df2 = main_df2.append(df_southcarolina)
main_df2 = main_df2.append(df_southdakota)
main_df2 = main_df2.append(df_tennessee)
main_df2 = main_df2.append(df_texas)
main_df2 = main_df2.append(df_utah)
main_df2 = main_df2.append(df_vermont)
main_df2 = main_df2.append(df_virginia)
main_df2 = main_df2.append(df_washington)
main_df2 = main_df2.append(df_westvirginia)
main_df2 = main_df2.append(df_wisconsin)
main_df2 = main_df2.append(df_wyoming)
main_df2.shape[0]

900

In [41]:
final_df = main_df2
final_df.head()

   Year  Cents per KwH  CPI Value  Real Price State
0  2018           9.70      250.5        6.86    AL
1  2017           9.83      245.1        7.10    AL
2  2016           9.56      240.0        7.05    AL
3  2015           9.33      237.0        6.97    AL
4  2014           9.27      236.7        6.94    AL

In [42]:
final_df.to_csv (r'Output/state_electricity_prices.csv', index = True, header=True)

In [43]:
data.head()

,case_id,t_state,p_name,p_year,p_tnum,p_cap,xlong,ylat
0,3000001,CA,Difwind 6,1987.0,250,27.00,-118.270027,35.066048
1,3000002,CA,Sky River,1990.0,342,76.95,-118.237885,35.263294
5,3000010,CA,Alta Mesa 1 and 2,1988.0,115,18.56,-116.666191,33.944595
6,3000011,CA,251 Wind,1987.0,194,18.43,-118.354889,35.085094
7,3000012,TX,Loraine II,2011.0,100,150.00,-100.710289,32.454193

In [44]:
data.to_csv('Output/HeatMapWindCap.csv')

In [45]:
# Merge latlongstatedf with pcapstatepopdf  on state field
latlongstatedf = latlongstatedf.merge(pcapstatepopdf, on='State')

In [46]:
latlongstatedf.rename(columns={"City": "StateFull"})

,State,Latitude,Longitude,StateFull,Population,Real Price,p_cap,cap/person
0,AK,61.302501,-158.775020,Alaska,737438.0,11.999444,63.691,8.636794e-05
1,AZ,34.168219,-111.930907,Arizona,7171646.0,7.477222,268.300,3.741122e-05
2,AR,34.751928,-92.131378,Arkansas,3013825.0,5.870000,0.100,3.318043e-08
3,CA,37.271875,-119.270415,California,39557045.0,11.045000,4499.905,1.137574e-04
4,CO,38.997934,-105.550567,Colorado,5695564.0,6.956111,3426.110,6.015401e-04
5,CT,41.518784,-72.757507,Connecticut,3572665.0,12.306667,5.100,1.427506e-06
6,DE,39.145251,-75.418921,Delaware,967171.0,8.284444,2.000,2.067887e-06
7,HI,20.460000,-157.505000,Hawaii,1420491.0,19.383333,208.860,1.470337e-04
8,ID,45.494576,-114.142430,Idaho,1754208.0,5.256111,972.500,5.543812e-04
9,IL,39.739318,-89.504139,Illinois,12741080.0,6.850556,4612.238,3.619974e-04
10,IN,39.766219,-86.441277,Indiana,6691878.0,6.075000,2190.150,3.272848e-04
11,IA,41.938317,-93.389798,Iowa,3156145.0,6.078889,7626.538,2.416409e-03
12,KS,38.498779,-98.320078,Kansas,2911505.0,6.750000,5301.433,1.820857e-03
13,ME,45.218513,-69.014866,Maine,1338404.0,9.966667,888.750,6.640372e-04
14,MD,38.806352,-77.268416,Maryland,6042718.0,8.568333,191.050,3.161657e-05
15,MA,42.062940,-71.718067,Massachusetts,6902149.0,11.740000,114.920,1.664989e-05
16,MI,44.943560,-86.415805,Michigan,9995915.0,7.616667,1823.530,1.824275e-04
17,MN,46.441859,-93.365515,Minnesota,5611179.0,6.614444,3444.685,6.138968e-04
18,MO,38.304662,-92.437099,Missouri,6126452.0,6.301667,941.800,1.537268e-04
19,MT,46.679800,-110.044783,Montana,1062305.0,6.277778,726.590,6.839749e-04
20,NE,41.500819,-99.680902,Nebraska,1929268.0,5.964444,1958.150,1.014970e-03
21,NV,38.502032,-117.023060,Nevada,3034392.0,7.542778,151.800,5.002650e-05
22,NH,44.001231,-71.579923,New Hampshire,1356458.0,11.470556,185.350,1.366426e-04
23,NJ,40.143006,-74.731116,New Jersey,8908520.0,10.351111,9.000,1.010269e-06
24,NM,34.166232,-106.026069,New Mexico,2095428.0,6.814444,1567.870,7.482338e-04
25,NY,40.705626,-73.979680,New York,19542209.0,12.018889,1918.490,9.817160e-05
26,NC,35.214563,-79.891267,North Carolina,10383620.0,6.753333,208.100,2.004118e-05
27,ND,47.467882,-100.302266,North Dakota,760077.0,5.827778,2943.470,3.872594e-03
28,OH,40.190362,-82.669252,Ohio,11689442.0,6.949444,726.080,6.211417e-05
29,OK,35.309765,-98.716558,Oklahoma,3943079.0,6.015000,7163.325,1.816683e-03
30,OR,44.141905,-120.538099,Oregon,4190713.0,6.143889,2792.050,6.662470e-04
31,PA,40.994593,-77.604698,Pennsylvania,12807060.0,7.707222,1211.950,9.463140e-05
32,RI,41.582728,-71.506451,Rhode Island,1057315.0,11.276111,74.785,7.073105e-05
33,SD,44.212699,-100.247164,South Dakota,882235.0,6.430000,898.208,1.018105e-03
34,TN,35.830521,-85.978599,Tennessee,6770010.0,6.510000,27.000,3.988177e-06
35,TX,31.169336,-100.076842,Texas,28701845.0,7.288889,22650.775,7.891749e-04
36,UT,39.499761,-111.547028,Utah,3161105.0,5.707222,331.290,1.048020e-04
37,VT,43.871755,-72.447783,Vermont,626299.0,10.588333,117.400,1.874504e-04
38,WA,38.899349,-77.014567,Washington,7535591.0,5.477222,2841.550,3.770839e-04
39,WV,38.920171,-80.181691,West Virginia,1805832.0,5.515556,572.100,3.168069e-04
40,WI,44.786297,-89.826705,Wisconsin,5813568.0,7.365556,694.050,1.193845e-04
41,WY,43.000325,-107.554567,Wyoming,577737.0,5.158333,1352.820,2.341584e-03

In [47]:
latlongstatedf.to_csv('Output/statelatlongWPop.csv')

In [49]:
usfile.to_csv('Output/US.csv')